<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="text-lg font-bold text-4xl">Articles</h1>
    <%= link_to 'New article', new_article_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="articles" class="min-w-full">
    <%= render @articles %>
  </div>
</div>

<%= cl_image_tag("zuvtfgqd0m3yfd1n34an",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("ormdm6pl0ptufef8j1uc",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
